.country__container {
  justify-content: space-between;
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 1.5%;
  padding-bottom: 25px;
  align-items: center;
  min-width: 66%;
  min-height: 286px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.country__details {
  gap: 10px;
  flex-direction: column;
}

.weather {
  width: 100%;
  max-height: 690px;
  gap: 2%;
  padding-top: 45px;
}

.country__weather {
  font-size: 95px;
  align-items: center;
}

.country__weather .weather__icon {
  margin-right: 50px;
  width: 100px;
  height: 100px;
}

.weather-now__container {
  flex-direction: column;
  width: 68%;
  gap: 20px;
  position: relative;
}

.error__container {
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.error__btn {
  background-color: var(--element-body);
  color: var(--text);
  cursor: pointer;
  padding: 25px;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;

}

.error__btn:focus-visible,
.error__btn:hover {
  background-color: var(--hover);
}