@media(max-width:1100px) {
    .weather {
        flex-direction: column;
        gap: 30px !important;
    }

    .weather-now__container {
        width: 100% !important;
    }

    .weather-hourly {
        width: 100% !important;
    }

    .custom-select {
        min-width: 25% !important;
    }
}

@media(max-width: 770px) {
    .weather-details__info {
        font-size: 30px !important;
    }

    .country__weather {
        font-size: 75px !important;
    }

    .city-search__input {
        width: 100% !important;
    }

    .main__title {
        font-size: 35px !important;
    }
}

@media(max-width: 660px) {
    .daily-weather__list {
        flex-wrap: wrap;
        gap: var(--gap) !important;
    }

    .daily-weather__item {
        width: calc((100% - var(--gap)) / 2) !important;
    }

    .country__weather {
        font-size: 55px !important;
    }

    .country__weather .weather__icon {
        margin-right: 35px !important;
    }

    .weather-details__info {
        font-size: 20px !important;
    }

    .custom-select {
        min-width: 35% !important;
    }

}

@media(max-width:560px) {
    .weather-details__item {
        width: calc((100% - var(--gap)) / 2) !important;
    }

    .weather-details__list {
        flex-wrap: wrap;
        gap: var(--gap) !important;
    }

        
    .country__container {
        flex-direction: column;
        padding-top: 25px !important;
        align-items: center;
    }

    .country__weather {
        font-size: 35px !important;
    }

        .country__weather .weather__icon {
        margin-right: 15px !important;
    }

    /* .country__title {
        font-size: 15px;
    }

    .country__date {
        font-size: 10px;
    } */

    .country__container {
        min-width: none !important;
    }
}

@media(max-width:430px) {
    .header .container {
        flex-direction: column;
        gap: var(--gap);
    }
}