:root {
  --body: hsl(243, 96%, 9%);
  --text: hsl(0, 0%, 100%);
  --element-body: hsl(243, 27%, 20%);
  --hover: hsl(243, 23%, 30%);
  --item-body: hsl(243, 23%, 24%);
  --gap: 13px;
  --scroll: hsl(240, 18%, 44%);
}

@font-face {
  font-family: 'DM Sans';
  src: local('DM Sans Bold'), url('../src/assets/fonts/DMSans-Bold.woff2') format("woff2"), url('../src/fonts/DMSans-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: local('DM Sans Light'), url('../src/assets/fonts/DMSans-Light.woff2') format("woff2"), url('../src/fonts/DMSans-Light.woff') format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: local('DM Sans Medium'), url('../src/assets/fonts/DMSans-Medium.woff2') format("woff2"), url('../src/fonts/DMSans-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: local('DM Sans SemiBold'), url('../src/assets/fonts/DMSans-SemiBold.woff2') format("woff2"), url('../src/fonts/DMSans-SemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: local('DM Sans SemiBoldItalic'), url('../src/assets/fonts/DMSans-SemiBoldItalic.woff2') format("woff2"), url('../src/fonts/DMSans-SemiBoldItalic.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
  box-shadow: none;
}

img {
  max-width: 100%;
}

.title {
  margin: 0;
}

p {
  margin: 0;
}

body {
  min-width: 320px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  background-color: var(--body);
  color: var(--text);

}

body #root {
  width: 100%;
}

/* glob */
.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-reset:focus {
  outline: none;
  box-shadow: none;
}

.flex {
  display: flex;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  padding-top: 20px;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
}

.main__title {
  font-size: 50px;
}

.input {
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 125px;
  outline: 1px black solid;
}